html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
svg {
  display: 'inline' !important;
}
.nav-burger-line-white svg {
  fill: #fff;
}
.nav-burger-line-white svg polygon {
  fill: #fff;
}
::-webkit-scrollbar {
  display: none;
}
.link {
  opacity: 0.3;
  transition: all 0.5s;
  text-shadow: none !important;
  -webkit-text-stroke: 1.5px white !important;
  color: transparent !important;
}
.link :hover {
  color: white;
  -webkit-text-stroke: 1.5px transparent !important;
}
.credits {
  transform: rotate(90deg) !important;
  position: absolute;
  left: 0px;
  right: 0;
  text-align: center;
}
.active {
  opacity: 1 !important;
  transform: scale(1) !important;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: transparent;
  }
}
/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
